<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- SEO -->
    <meta name="description" content="150 words" />
    <meta name="author" content="uipasta" />
    <meta name="url" content="http://www.yourdomainname.com" />
    <meta name="copyright" content="company name" />
    <meta name="robots" content="index,follow" />

    <title>Road To React Native | Android Club VITCC</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      type="image/x-icon"
      href="images/favicon/apple-touch-icon.png"
    />

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.index.css" />

    <!-- Google Web Fonts  -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700"
    />
  </head>

  <body>
    <!-- Preloader Start -->
    <div class="preloader">
      <div class="rounder"></div>
    </div>
    <!-- Preloader End -->

    <div id="main">
        <div class="banner">
            <p class="text-heading">Android Club VIT Chennai</p>
            <p class="text-heading">x</p>
            <p class="text-heading">React Native</p>
        </div>
        <div class="nav-links">
            {{ content }}
        </div>
    </div>
  </body>
</html>
